* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  text-align: center;
  font-size: 1.5em;
  color: rgba(99, 207, 235, 0.829);
}

button {
  height: 50px;
  width: 100px;
  margin: 30px auto;
  display: block;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 3px solid rgba(99, 207, 235, 0.829);
  border-radius: 3px;
  color: rgba(99, 207, 235, 0.829);
  background-color: white;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  opacity: 50%;
}

body {
  background-color: black;
}
