@keyframes turn {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: black;
}

p {
  text-align: center;
  font-size: 1.5em;
  color: rgba(99, 207, 235, 0.829);
  z-index: 1;
  position: relative;
  max-width: 1000px;
  margin: 40px auto;
}

span {
  font-size: smaller;
}

button {
  height: 50px;
  width: 100px;
  display: block;
  margin: 60px auto;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 3px solid rgba(99, 207, 235, 0.829);
  border-radius: 3px;
  color: rgba(99, 207, 235, 0.829);
  background-color: white;
  z-index: 1;
  position: relative;
  animation-name: turn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: playing;
}

button:hover {
  cursor: pointer;
  animation-name: turn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}

button:active {
  opacity: 50%;
}

a {
  text-decoration: none;
}

#stars {
  display: flex;
  flex-wrap: wrap;
}

img {
  opacity: 70%;
  display: block;
  margin: 80px auto;
  transition: all 4s;
}

#star1 {
  width: 33%;
  height: auto;
}

#star2 {
  width: 33%;
  transform: rotate(45deg);
}

#star3 {
  width: 33%;
}

img:hover,
#star2:hover {
  transform: scale(2) rotate(360deg);

  /*animation-name: turn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;*/
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
}
